<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <style>
        input {
            width: 100%;
            margin: 0.3%;;
        }
    </style>
    <%- include('common/links'); %>
</head>


<body>
<%- include('common/usernavbar',{auth:data.auth}); %>


<div class="card m-2">
    <div class="card-body">
        <form action="/getSession" method="POST">
            <label class="col-md-4 col-sm-12" for="session_topic"
            >Age Group:
          </label>
          <div class="row m-2">
            <div class="form-check col-md-4 col-sm-8">
              <input
                name="age"
                class="form-check-input"
                type="radio"
                value="0M-1M"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                0 - 1 Months ( Neonates )
              </label>
            </div>

            <div class="form-check col-md-4 col-sm-8">
              <input
                name="age"
                class="form-check-input"
                type="radio"
                value="2M-2Y"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                2 Months - 2 years ( Infants )
              </label>
            </div>

            <div class="form-check col-md-4 col-sm-8">
              <input
                name="age"
                class="form-check-input"
                type="radio"
                value="3Y-12y"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                3 - 12 Years ( Children )
              </label>
            </div>

            <div class="form-check col-md-4 col-sm-8">
              <input
                name="age"
                class="form-check-input"
                type="radio"
                value="13Y-18Y"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                13 - 18 Years ( Adulterants )
              </label>
            </div>

            <div class="form-check col-md-4 col-sm-8">
              <input
                name="age"
                class="form-check-input"
                type="radio"
                value="19Y-30Y"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                19 - 30 Years ( Young Adults )
              </label>
            </div>

            <div class="form-check col-md-4 col-sm-8">
              <input
                name="age"
                class="form-check-input"
                type="radio"
                value="31Y-60Y"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                31 -60 Years ( Adults )
              </label>
            </div>

            <div class="form-check col-md-4 col-sm-8">
              <input
                name="age"
                class="form-check-input"
                type="radio"
                value="60Y-*"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Above 60 ( Senior Adults )</label
              >
            </div>
          </div>


            <div class="row m-2">
                <label class="m-2 col-md-4 col-sm-12" for="session_topic"
                >Comorbidity:
              </label>
              <div class="row m-2">
                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Cancer"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Cancer
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Chronic Kidney Disease"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Chronic Kidney Disease
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Chronic Lung Diseases"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Chronic Lung Diseases
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Asthma"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Asthma
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Interstitial Lung Disease"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Interstitial Lung Disease
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Cystic Fibrosis"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Cystic Fibrosis
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Dementia"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Dementia
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Pulmonary Hypertension"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Pulmonary Hypertension
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Diabetes"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Diabetes
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Down Syndrome"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Down Syndrome
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Heart Conditions"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Heart Conditions
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="HIV Infection"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    HIV Infection
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Uncompromised State"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Uncompromised State
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Liver Disease"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Liver Disease
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Overweight And Obesity"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Overweight And Obesity
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Pregnancy"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Pregnancy
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Stroke"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Stroke
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Solid Organ"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Solid Organ
                  </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="comborbidities"
                    value="Sickle Cell Disease"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Sickle Cell Disease
                  </label>
                </div>
              </div>

                </div>
            </div>


            <div class="row m-2">
                <label class="m-2 col-md-4 col-sm-12" for="session_topic">Symptoms: </label>
                <div class="row m-2">
                    <div class="form-check col-md-4 col-sm-6">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="Symptons"
                                value="Headache"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Headache
                        </label>
                    </div>

                    <div class="form-check col-md-4 col-sm-6">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="Symptons"
                                value="Fever"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Fever
                        </label>
                    </div>

                    <div class="form-check col-md-4 col-sm-6">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="Symptons"
                                value="Body Pain"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Body Pain
                        </label>
                    </div>

                    <div class="form-check col-md-4 col-sm-6">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="Symptons"
                                value="Cough"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Cough
                        </label>
                    </div>

                    <div class="form-check col-md-4 col-sm-6">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="Symptons"
                                value="Diarrhea"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Diarrhea
                        </label>
                    </div>

                    <div class="form-check col-md-4 col-sm-6">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="Symptons"
                                value="Nasal Congestion"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Nasal Congestion
                        </label>
                    </div>

                    <div class="form-check col-md-4 col-sm-6">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="Symptons"
                                value="Tiredness"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Tiredness
                        </label>
                    </div>

                    <div class="form-check col-md-4 col-sm-6">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="Symptons"
                                value="Sore Throat"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Sore Throat
                        </label>
                    </div>

                    <div class="form-check col-md-4 col-sm-6">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="Symptons"
                                value="Persistent Chest Pain"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Persistent Chest Pain
                        </label>
                    </div>

                    <div class="form-check col-md-4 col-sm-6">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="Symptons"
                                value="Trouble Breathing"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Trouble Breathing
                        </label>
                    </div>

                    <div class="form-check col-md-4 col-sm-6">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="Symptons"
                                value="Insomnia"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Insomnia
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" style="display: flex;justify-content: center;">
                    <button  class="btn btn-outline-secondary">
                        <i class="fas fa-search"></i> Find New Session
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row m-2 mt-4">

<% data.rec.forEach((e,index)=>{ %>
    <%let cur=data.docs.find(d=>d._id==e.docID);  %>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <div class="row" style="padding-top: 6%;">
                    <div class="col-md-4">
                        <img src="./data/<%=cur.photo%>"
                             class="img-thumbnail"
                             alt="..."/>
                    </div>
                    <div class="col-md-8">
                       <b> Doctor name : </b><%=cur.name.fname%> <%=cur.name.lname%>  <br>
                        <b>Qualification</b> :<%=cur.qualification%><br>
                        <b>Organization</b> : <%=cur.hospital%>
                    </div>
                </div>

                <h5 class="card-title mt-4"><%=e.topic%></h5>
                <p class="card-text">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Description:</strong>
                    </div>
                    <div class=" col-md-8">
                       <%=e.description%>
                    </div>
                </div>

                </p>
                <p>
                <div class="row">
                    <div class="col-md-4">
                        <strong>SessionLink:</strong>
                    </div>
                    <div class=" col-md-8">
                            <a href="<%=e.session%>" target="_blank">session</a>
                    </div>
                </div>
                </p>
                <p>
                <div class="row">
                    <div class=" col-md-4">
                        <strong>Age Group:</strong>
                    </div>
                    <div class="col-md-8">
                        <%=e.age%>
                    </div>
                </div>
                </p>

                <p style="background-color: hsl(0, 0%, 94%);" data-mdb-toggle="collapse"
                   href="#a<%=index%>">
                    <!-- Buttons trigger collapse -->
                    <strong role="button" aria-expanded="false" aria-controls="a<%=index%>">
                        Comorbidities <i class="fas fa-chevron-down"></i>
                    </strong>
                <div class="collapse mt-3" id="a<%=index%>">
                    <%e.comborbidities.forEach(a=>{%>
                    <span class="badge rounded-pill bg-danger"><%=a%></span>
                    <%})%>
                </div>

                </p>
                <p style="background-color: hsl(0, 0%, 94%);" data-mdb-toggle="collapse"
                   href="#b<%=index%>">
                    <!-- Buttons trigger collapse -->
                    <strong role="button" aria-expanded="false" aria-controls=b<%=index%>">
                        Symptoms <i class="fas fa-chevron-down"></i>
                    </strong>
                <div class="collapse mt-3" id="b<%=index%>">
                   <%e.Symptons.forEach(s=>{%>
                    <span class="badge rounded-pill bg-warning"><%=s%></span>
                   <%})%>
                </div>

                </p>


                <p style="background-color: hsl(0, 0%, 94%);" data-mdb-toggle="collapse"
                   href="#e<%=index%>">
                    <!-- Buttons trigger collapse -->
                    <strong role="button" aria-expanded="false" aria-controls="e<%=index%>">
                        Follow-up Meetings <i class="fas fa-chevron-down"></i>
                    </strong>
                <div class="collapse mt-3 text-center" id="e<%=index%>">
                    <ul style="list-style: none;  margin: 0; padding: 0px;">
                     <%e.meet.forEach(m=>{%>
                       <%let cur=data.meets.find(mm=>mm._id==m)%>
                       <%console.log("Meet=>",cur)%>
                        <li style="background: rgb(240, 234, 234); padding:1% ; ">
                            <div class="row">

                                <div class="col-6">
                                    <i class="far fa-calendar-alt text-success"></i> <%=cur.shedule.toISOString().substring(0,10)%>
                                </div>

                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-6">
                                    <%=cur.shedule.toISOString().substring(11,16)%>
                                </div>
                                <div class="col-6">
                                    <a href="<%=cur.link%>" target="_blank" class="btn btn-primary">Join Meet</a>
                                </div>

                            </div>
                        </li>
                        <%})%>
                    </ul>
                </div>
                <br/>
                </p>
            </div>
        </div>
    </div>
    <%})%>
</div>
<%- include('common/footer'); %>
<script>!(function () {
  let e = document.createElement("script"),
    t = document.head || document.getElementsByTagName("head")[0];
  (e.src =
    "https://cdn.jsdelivr.net/npm/rasa-webchat@1.x.x/lib/index.js"),
    // Replace 1.x.x with the version that you want
    (e.async = !0),
    (e.onload = () => {
      window.WebChat.default(
        {
          initPayload : '/greet',
          customData: { language: "en" },
          socketUrl: "http://localhost:5005",
          // add other props here
        },
        null
      );
    }),
    t.insertBefore(e, t.firstChild);
})();
</script>
</body>

</html>
